* {
  box-sizing: border-box;
  font-family: Arial;
}

.page-wrap {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  width: 80%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.home img {
  width: 380px;
}

.home a {
  color: black;
}

.home-title {
  margin: 50px 0 0 0;
  border: none;
  font-size: 44px;
  font-weight: 100;
  text-align: center;
}

.home-subtitle {
  margin: 0;
  border: none;
  font-size: 44px;
  font-weight: 100;
  text-align: center;
}

button {
  background-color: black;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: 0;
  padding: 16px;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.3s;
}

.sign-in-out {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-right: 20px;
}

.sign-in-out:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

h1 {
  border-bottom: 1px solid black;
  margin-top: 80px;
  padding: 16px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
}

.details-button-wrap {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.details-button {
  max-width: max-content;
}

.checkout-wrap {
  display: flex;
  justify-content: right;
}

.checkout-button {
  max-width: fit-content;
  margin: 20px;
}

.product-container {
  align-content: 'center';
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 16px;
  width: 100%;
}

.product-image {
  height: 200px;
  width: 200px;
}

.remove-button {
  flex: 1;
  margin: auto;
}

.img-wrap {
  margin-top: 32px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid black;
}

.img-wrap img {
  width: 300px;
  margin-bottom: 30px;
}

.product-details {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.add-to-cart {
  max-width: max-content;
  margin: 0;
  align-self: center;
}

.empty {
  text-align: center;
}

.sign-in {
  width: 100%;
  margin-top: 16px;
}

.price {
  display: flex;
  justify-content: flex-end;
  font-size: 28px;
  margin: 0;
}

.green-button {
  background-color: green;
}

.grey-button {
  background-color: #888;
  max-width: max-content;
  align-self: center;
}

.grey-button:hover {
  background-color: #888;
  color: white;
  border: none;
}

.nav-bar {
  border-bottom: 1px solid #ddd;
  height: 75px;
  width: 100%;
}

.logo-wrap {
  width: 120px;
  height: 120px;
  margin-left: 140px;
}

.products-link {
  text-align: center;
  display: block;
  color: black;
  font-size: 22px;
  left: 32px;
  position: absolute;
  top: 16px;
  text-decoration: none;
}

.products-link h1 {
  margin: 0;
}

.nav-buttons-wrap {
  position: absolute;
  right: 16px;
  top: 16px;
  margin-right: 140px;
}

.cart-link {
  position: absolute;
  right: 16px;
  top: 16px;
}

.grid-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas de igual ancho */
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 100px;
}

.product-item {
  border-radius: 8px;
  box-shadow: 0px 2px 5px #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-name {
  margin-bottom: 0;
}

.description-container {
  border-bottom: 1px solid black;
}

.description {
  width: 80%;
  margin: 60px;
  line-height: 26px;
}

.product-item img {
  height: 200px;
  width: 200px;
}

.product-item a {
  width: 100%;
}

.product-item button {
  width: 100%;
}

.product-container {
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 16px;
}

.details-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  padding: 0 16px;
  flex: 3;
}

select {
  height: 30px;
  width: 60px;
  text-align: center;
}

.remove-button {
  margin: 0;
  max-width: fit-content;
  max-height: fit-content;
  padding: 9px;
}

.fly-to-cart {
  position: fixed;
  z-index: 1000;
  transition: transform 3s ease, opacity 0.9s ease;
}

.go-back {
  margin: 50px;
}

.pay-title {
  font-size: 40px;
}

.pay-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0 250px;
}

.confirm-img {
  width: 300px;
}

.confirm-title {
  font-size: 50px;
  border: none;
  color: black;
  text-decoration: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: 34px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.modal-button {
  background-color: black;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-name-title {
  font-size: 20px;
  font-weight: bold;
}

.product-image {
  width: 140px;
  height: 140px;
}

.order-details {
  font-size: 22px;
}

.email-input {
  margin: 10px 0 24px 0;
  width: 60%;
  height: 26px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Estilo base para pantallas grandes (1200px y superior) */
@media (min-width: 1200px) {
  .grid-wrap {
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas grandes */
  }
}

/* Para pantallas medianas (768px a 1199px) */
@media (max-width: 1199px) and (min-width: 768px) {
  .page-wrap {
    max-width: 1000px;
  }
  
  .grid-wrap {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
  }

  .logo-wrap {
    margin-left: 50px;
    width: 80px;
    height: 80px;
  }

  .products-link, .nav-buttons-wrap, .cart-link {
    top: 12px;
  }

  .nav-buttons-wrap {
    right: -100px;
  }
  
  .product-item img, .product-image {
    height: 150px;
    width: 150px;
  }
}

/* Para pantallas pequeñas (480px a 767px) */
@media (max-width: 767px) and (min-width: 480px) {
  .page-wrap {
    max-width: 90%;
    padding: 0 10px;
  }

  .grid-wrap {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
  }

  .logo-wrap {
    margin-left: 20px;
    width: 60px;
    height: 60px;
  }

  .products-link {
    font-size: 18px;
    left: 16px;
  }

  button {
    font-size: 14px;
    padding: 12px;
  }

  .product-item img, .product-image {
    height: 120px;
    width: 120px;
  }
  
  .description {
    width: 90%;
    margin: 30px;
  }

  .nav-buttons-wrap {
    right: -110px;
  }
}

/* Para pantallas extra pequeñas (menor de 480px) */
@media (max-width: 479px) {
  .home img {
    width: 250px;
  }

  .home h1 {
    border: none;
    font-size: 32px;
  }

  .page-wrap {
    max-width: 100%;
    padding: 0 10px;
  }

  .grid-wrap {
    grid-template-columns: 1fr 1fr; /* 2 columnas en pantallas muy pequeñas */
  }

  .logo-wrap {
    margin: auto;
    width: 50px;
    height: 50px;
  }

  .products-link {
    font-size: 16px;
    left: 8px;
    top: 8px;
  }

  .nav-buttons-wrap {
    right: -130px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }

  .product-item img, .product-image {
    height: 130px;
    width: 120px;
  }
  
  .description {
    width: 100%;
    margin: 20px;
  }

  .go-back, .footer {
    margin: 20px;
  }

  .total-price {
    gap: 34px;
    font-size: 28px;
  }

  .confirm-container {
    text-align: center;
  }

  .confirm-title {
   font-size: 45px;
  }

  .pay-title {
    font-size: 28px;
  }

  .modal-content h2 {
    font-size: 18px;
  }

  .modal-button {
    padding: 8px 16px;
    font-size: 12px;
  }

  .fly-to-cart {
    position: fixed;
    z-index: 1000;
    transition: transform 3s ease, opacity 0.9s ease;
  }
}
